{% extends 'store/base.html' %}
{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card p-4">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="card-title mb-0">Profile Information</h4>
                <a class="btn btn-primary btn-sm" href="{% url 'user-profile-update' %}">
                    <i class="fas fa-edit me-1"></i> Edit Profile
                </a>
            </div>

            <div class="row align-items-center">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th scope="row" class="w-25">Username</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Staff Role</th>
                                <td>
                                    <span class="badge rounded-pill bg-primary bg-opacity-10 text-primary fw-semibold fs-6">
                                        {% if user.profile.role == 'AD' %} Admin
                                        {% elif user.profile.role == 'EX' %} Executive
                                        {% else %} Operative
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">First Name</th>
                                <td>{{ user.profile.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name</th>
                                <td>{{ user.profile.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{ user.profile.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid rounded-circle border border-3 border-light shadow-lg" 
                         src="{{ user.profile.profile_picture.url }}" 
                         alt="Profile image"
                         style="max-width: 200px; height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}