{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block title %}{% if form.instance.pk %}Update Staff{% else %}Create Staff{% endif %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header bg-white py-3">
                    <h4 class="mb-0">{% if form.instance.pk %}Update Staff Profile{% else %}Create Staff Profile{% endif %}</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <hr class="my-4">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-save me-2"></i> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}